.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.scrollable {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: relative;
  overflow-y: auto;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0px;
}

.overlay {
  width: 100%;
  height: 100%;
  display: block;
  position: sticky;
  z-index: 1;
  top: 0px;
  pointer-events: none;
  &:before, &:after {
    content: "";
    width: 100%;
    height: 40px;
    background: transparent;
    position: absolute; 
  }
  &:before {
    top: 0px;
    background: linear-gradient(white, transparent);
  }
  &:after {
    bottom: 0px;
    background: linear-gradient(transparent, white);
  }
  &.top {
    &:before {
      display: none;
    }
  }
  &.bottom {
    &:after {
      display: none;
    }
  }
}